<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboard</title>
    </head>
    <body>
        <h1>Leaderboard</h1>
        <div>
            <table class="sortable">
            <thead>
              <tr>
                <th>Delete</th>
                <th>Name</th>
                <th>Plus</th>
                <th>minus</th>
                <th>Points</th>
             </tr>
            </thead>

            <tbody>        
                {% for row in rows %}
                <tr>
                    <td>
                        <!-- <button id="del">X</button> -->
                        <form action="{{ url_for('delete') }}" method="post">
                            <input type="hidden" name="delete" value="{{ row.id }}"/>
                            <input type="submit" class="btn btn-xs btn-danger" value="X"/>
                        </form>
                    </td>
                    <td class = "name">{{ row.name }}</a></td>
                    <td>
                        <!-- <button id="plus">+</button> -->
                        <form action="{{ url_for('plus') }}" method="post">
                            <input type="hidden" name="plus" value="{{ row.id }}"/>
                            <input type="submit" class="btn btn-xs btn-danger" value="+"/>
                        </form>
                    </td>
                    <td>
                        <!-- <button id="minus">-</button> -->
                        <form action="{{ url_for('minus') }}" method="post">
                            <input type="hidden" name="minus" value="{{ row.id }}"/>
                            <input type="submit" class="btn btn-xs btn-danger" value="-"/>
                        </form>
                    </td>
                    <td id = "points">{{ row.points }}</td>  
                </tr>
                {% endfor %}
            </tbody>
        </div>
        <div>
            <form action="{{ url_for('add') }}" method="post">
                <input type="submit" class="btn btn-xs btn-danger" value="+ Add user"/>
            </form>
        </div>
    </body>

    
</html>
